@model SportSchoolApplication.Models.TimeTable

@{
    ViewBag.Title = "Расписание";
}

<h2>Расписание</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Удалить</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coach.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWeek.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gym.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gym.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
