@model SportSchoolApplication.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Имя пользователя:</dt>

        <dd>
            @Model.FIO
            [
            @Html.ActionLink("Смена имени пользователя", "ChangeUserName")
            ]
        </dd>
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            ]
        </dd>
        <dt>Телефон:</dt>
        <dd>
            @Model.Phone
            [
            @Html.ActionLink("Смена номера телефона", "ChangePhone")
            ]
        </dd>


    </dl>
</div>
